<div class="container">
    <div class="row">
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" 
                id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Create new</button>
                <button class="dropdown-item" type="button">Update</button>
                <button class="dropdown-item" type="button" (click)="onDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>